/*  Общая типографика для всех страниц. здесь описываются общие свойства для текстовых блоков  */

body
{
	font-family: $accent-font;
	font-size: 16px;
	line-height: 1.5;
	min-height:100vh;
	color: $black;
}

a
{
	color: $black;
}

ul
{
	padding: 0;
	margin: 0;
	list-style-type: none;
	li
	{
		margin: 0;
		padding: 0;
	}
}

address
{
	font-style: normal;
}

h1
{
	font-weight: 600;
	font-size: 19px;
	line-height: 28px;
	color: #000000;
	margin: 0 0 4px 0;

	@include mq($tablet)
	{
		font-size: 26px;
		line-height: 38px;
	}

	@include mq($wd)
	{
		font-size: 32px;
		line-height: 38px;
		margin: 0 0 8px 0;
	}
}

h2
{
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	color: $black;
	margin-top: 0;
	margin-bottom: 18px;

	@include mq(1280px)
	{
		font-size: 24px;
		line-height: 33px;
		margin-bottom: 27px;
	}
}

h3
{
	font-size: 16px;
	font-weight: 400;
	margin: 0 0 10px;
}

h4
{
	font-size: 15px;
	letter-spacing: 2.4px;;
	line-height: 24px;
	margin:0px 0 8px 0;
}

p
{
	margin-top: 0;
	color: $black;
}

b
{
	font-weight: 700;
}

a,
a:hover,
a:active,
a:visited,
a:focus
{
	outline: 0;
	text-decoration: none;
}

.g-material-link
{
	position: relative;
	z-index: 1;

	&:after
	{
		content: '';
		position: absolute;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) scale(0, 0);
		border-radius: 4px;
		@include transition();
		width: calc(100% - -10px);
		height: 105%;
		background-color: #F4F5F7;
		z-index: -1;
	}

	&:active { &:after { transform: translate(-50%, -50%) scale(1,1); } }
	@include hover() { &:after { transform: translate(-50%, -50%) scale(1,1); } }
}

.g-link
{
	color: $blue;
	cursor: pointer;
	@include transition();

	@include hover()
	{
		opacity: .8;
	}
}

.g-error
{
	font-size: 9px;
	line-height: 10px;
	color: $red;
}

.ruble
{
	font-style: normal;
	font-family: system-ui;
}